//1.2 Normalize
html,
body
{
   margin: 0;
  padding: 0;
}

body {
    font-family:$font-base;
    font-weight: 400;
    @media(min-width:$screen-lg){
    min-width:1100px;
    }
    > iframe{
      display: none;
    }
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

input,
textarea,
.form-control,
button,
.btn {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a {
    color: $base-color;
    text-decoration: none;
    @include transition2;
    &:hover,
    &:focus {
        color: $theme-color;
        text-decoration: none;
        outline: none;
    }
}
button{
  @include transition2;
  border:none;
}
img{
    max-width:100%;
}

.text-center{
  text-align:center;
}
.fbold{
  font-weight: bold;
}
.f600{
  font-weight: 600;
}


