// tabs
.tab-panel {
    display: none;

    &.current {
        display: block;
    }

    
}



// Form control
.form-control {
    width: 100%;
    
    padding: 0 10px;
    border-radius:0.3rem;
    
    
    height: 36px;
}

.form-input {
    position: relative;

}
// button
.btn{
    border-radius: 5px;
    color: $white;
    padding: 0 10px;
    display: inline-block; 
    text-align:center;
    font-weight: 500;
    cursor: pointer;
    &.bg-org{
        background: linear-gradient(97.29deg, #F3B05D 1.16%, #F38A5D 81.65%);
    }
    &.bg-blue{
        background: linear-gradient(289.53deg, #3E61B8 7.11%, #65A2EA 100%);
    }
    &.bg-theme{
        background:$theme-color;
    }
    &:hover, &:focus{
        color: $white;
    }
    .spinner{
        opacity: 0;
        width: 0;
        overflow: hidden;
       @include transition2;
        
        visibility: hidden;
        position: absolute;
        &.active {
            width: 19px;
            margin-right: 10px;
            opacity: 1;
            visibility: visible;
            margin-right: 5px;
            position: relative;
        }
    }

    .txt {
        flex-grow: 1;
        
    }
}
.btn-outline{
    font-weight: 600;
    padding: 0 17px;
    letter-spacing: .05em;
    font-size: 20px;
    border-radius: 6px;
    display: inline-block; 
    text-align:center;
    cursor: pointer;
    border:1px solid;
    &.br-theme{
        color: $theme-color;
        border-color: $theme-color;
    }
}
