.col-sm-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    @media(min-width:576px){
        width: 33.333333%;
        float:left;
    }
}
.footer{
    .footer-top{
        background: #141ed2;
        color: #fff;
    }
    .f-bottom-info{
        padding: 33px 0 16px;
        .col-sm-4{
            &:last-child{
                @media(max-width:$screen-xs-max){
                    display: none;
                }
            }
        }
    }
    .f-heading{
        @media(min-width:$screen-sm){
            font-size: 16px;
            line-height: 20px;
        }
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0.5rem;
        font-weight: 700;
        margin-top: 0;
    }
    .desc{
        margin-top: 6px;
        max-width: 370px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
        a{
            color: #fff;
        }
    }
    .hotline{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 22px;
        font-weight: 600;
        letter-spacing: .02em;
        margin-top: 0;
    }
    .social{
        a{
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-right: 27px;
            margin-bottom: 6px;
        }
    }
    .box-app{
        display: flex;
        justify-content: center;
        align-items: center;
        .myapp{
            a{
                margin-bottom: 12px;
                display: block;
            }
            img{
                width: auto;
                border-radius: 6px;
            }
        }
        .qr-code{
            margin-left: auto;
            img{
                width: auto;
            }
        }
    }
}
.footer-menu{
    padding: 0;
    margin: 0;
    list-style:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0 24px;
    border-bottom: 1px solid #fff;
    @media(max-width:$screen-xs-max){
        display: none;
    }
    li{
        display: inline-block;
        a{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: .04em;
            color: #fff;
        }
    }
}
.copyright{
    padding: 27px 0;
    color: #fff;
    background: $theme-color;
    @media(max-width:$screen-xs-max){
        padding: 15px 0;
    }
    p{
        margin: 0;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .02em;
        font-weight: 600;
    }
}