// Popup
.no-scroll {
  &:before {
    position: fixed;
    z-index: 20;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal-popup_style2 {
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 99;

  outline: 0;
  text-align: center;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  visibility: hidden;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  &.open {
    visibility: visible;
    bottom: 0;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  &.screen-dt{
    @media(min-width:1200px){
      @include transition2;
      left:-10%;
    }
  }
}

.popup-container {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
}

.popup-close {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  position: absolute;

  right: -15px;

  top: -15px;

  cursor: pointer;
  background: $theme-color;
  border-radius: 50%;
  font-size: 14px;
  z-index: 20;

  [class*='fa'] {
    color: $white;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 20;
}

.pu-heading {
  font-size: 18px;
  background: $theme-color;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: $white;
  padding: 5px 10px;
}

.pu-general {
  width: calc(100% - 20px);
  background: #fff;
  box-shadow: 0 0.76rem 1.52rem #12263f08;

  @media (min-width: $screen-sm) {
    max-width: 850px;
  }

  max-width: 500px;
  position: relative;

  .content {
    padding: 10px;
  }

  .box-form {
    @include clearfix();

    .label-name {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }

    .row {
      margin: 0;

      [class*='col-'] {
        padding: 0 10px;
        margin-bottom: 10px;
      }
    }

    .btn {
      min-width: 120px;
      height: 36px;
      line-height: 36px;

    }

    .react-datepicker-wrapper,
    .react-datepicker__input-container {
      width: 100%;
    }
  }

  @media (max-width: $screen-xs) {
    margin-left: 3px;
    width: 100%;

    .popup-close {
      @include center;
      top: -30px;
      @include circle(40px);
    }

    .video-content {
      padding-top: 80%;
    }
  }
}
.pu-user{
  @media(max-width:$screen-xs){
    .content{
      height: 500px;
      overflow-y: scroll;
    }
  }
}
.pu-ticket{
  @include transition2;
  @media(min-width:$screen-sm){
    max-width: 770px;
   
  }
  @media(max-width:$screen-xs){
    .content{
      height: 500px;
      overflow-y: scroll;
    }
  }
  &.style2{
    .content{
          @media(min-width:$screen-sm){
      height: 650px;
      overflow-y:scroll;
     
    }
    }

  }
  &.expand{
    > .content{
      @media(min-width:$screen-sm){
        height: 780px;
        overflow-y: scroll;
      }
    }
  }
  .box-form{
    .title{
      font-size: 20px;
    }
    .label-name{
      font-size: 14px;
    }
    .btn{
      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }
  .box-quest{
    @media(min-width:$screen-sm){
      width: 300px;
    padding: 10px;
    background: #fff;
    position: absolute;
    
    right:-100px;
    top: 0;
    @media(min-width:1200px){
      right: -320px;
    }
    .btn-quest-close{
      display: none;
    }
    }
    width: 100%;
    top: 0;
    right: inherit;
    height: 100vh;
    position: fixed;
    @media(max-width:$screen-xs-max){
      background: #fff;
      padding: 10px;
      z-index:100;
      .title{
        display: flex;
        justify-content: space-between;
      }
    }
    .btn-quest-close{
      width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
      
    }
  }
  .box-search {
    margin-left: auto;
    position: relative;
    width: 52px;
    margin-right: -10px;
    cursor: pointer;
    z-index:30;
    .btn {
     
      position: relative;
      z-index:10;
      
    }
  

  }
  .search-bar {
    position: relative;
    margin-bottom: 10px;
    .clear-search{
      position: absolute;
    color: #222;
    z-index: 10;
    right: 20px;
    top: 9px;
    }
  }
}
.pu-review {
  @media (min-width: $screen-sm) {
    width: 750px;
  }

  @media (max-width: $screen-xs-max) and (min-width: $screen-xs) {
    width: calc(100% - 100px);
    margin: 30px 0;
    height: 100vh;
  }

  width: calc(100% - 30px);

  @include center;

  .pu-content {
    padding-bottom: 30px;
  }

  .heading {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  iframe {
    border-radius: 5px;
    width: 100%;
    height: 300px;
    border: 0;
  }
}

.view-transition-fade-expand-enter-active {
  -webkit-animation: fadeExpand 150ms;
  -o-animation: fadeExpand 150ms;
  animation: fadeExpand 150ms;
}

.view-transition-fade-shrink-leave {
  -webkit-animation: fadeShrink 150ms;
  -o-animation: fadeShrink 150ms;
  animation: fadeShrink 150ms;
}

@-webkit-keyframes fadeExpand {
  from {
    opacity: 0;
    -webkit-transform: scale(0.75);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes fadeExpand {
  from {
    opacity: 0;
    transform: scale(0.75);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes fadeShrink {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale(0.75);
  }
}

@keyframes fadeShrink {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.75);
  }
}

.scroll_pu_content::-webkit-scrollbar {
  width: 3px;
  background-color: #181818;
}

.scroll_pu_content::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.pu-quest{
  border-radius: 8px;
  box-shadow: 0 0 3px rgb(0 0 0 / 10%), 0 4px 20px rgb(0 0 0 / 15%);
  position: fixed;
  right: 1rem;
  bottom: 15px;
  transform: scale(.95);
  transform-origin: bottom right;
  z-index: 1000;
  max-width: 295px;
  background-color: #000000;
  overflow: hidden;
  z-index:100;
  cursor: pointer;
  .text{
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem; 
    font-size: 16px;
    padding: 5px 15px;
    color: $white;
  }
  .icon{
    margin-left: 10px;
  }
  .fa{
   color: $white;
   font-size: 14px;
  }
}

.popup-quest-expand{
  
    position: fixed;
    right: 0;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    z-index:99;
    .content{
      background: $white;

      height: inherit !important;
      overflow-y: inherit !important;
    }
    .box-form{
      background: $white;

    }
}

.popup-quest-expand .content::-webkit-scrollbar {
  width: 3px;
  background-color: #181818;
}

.popup-quest-expand .content::-webkit-scrollbar-thumb {
  background-color: #ddd;
}