

// --------------------------------------------------
$image-theme-path                : '../images/' !default;

// standard colors
$white:#fff;
$black			: #000 !default;
$nocolor		: transparent !default;

$font-base:'Open Sans',sans-serif;
$second-font:'UTM Hanzel';


$base-color:#000;
$color-hover:#00b4fa;

$title-color:#000;//  Title color
$heading:#002B6C;
$body-color:#59616E; //Body color

$social:#999;

$detail:#272727;

$nav-link:#707070;

$f_bg:#223259;
$f-sub:#B2B5C1;
$f-heading:#1E448D;
$f-line:#7991C9;
$ws:#B2B5C1;


$sub-color:#41763B;
$dark-bg:#233663;

$place-color:#9EA6AB;
$place-color2:#777;

$theme-color: 			#074d89 !default;
$border-color:			#EBECEF !default;
$border-color2:			 #D7DFE3 !default;

$border-line:#EDEDED;
$org:linear-gradient(97.29deg, #F3B05D 1.16%, #F38A5D 81.65%);
$blue: #24428F;
$green:#8EC640;
$red:#D64237;
$star:#F3AC21;

$error:#e87c03;

$gray: #F9F9F9;
$yl:#ffab00;
$ipx:813px !default;