@import "components/variables.scss";
@import "components/mixin.scss";
@import "components/element.scss";
@import "components/popup.scss";

.body {
  font-size: 14px;
}

input,
textarea,
.form-control,
button,
.btn {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a {
  color: $base-color;
  text-decoration: none;
  @include transition2;

  &:hover,
  &:focus {
    color: $theme-color;
    text-decoration: none;
    outline: none;
  }
}

button {
  @include transition2;
  border: none;
}

img {
  max-width: 100%;
}

// edit layout
.main-sidebar .nav .nav-item .nav-link.active,
.main-sidebar .nav .nav-item .nav-link:hover,
.main-sidebar .nav .nav-item.active,
.main-sidebar .nav .nav-item:hover,
.main-sidebar .nav .nav-item .nav-link.active i,
.main-sidebar .nav .nav-item .nav-link:hover i,
.main-sidebar .nav .nav-item.active i,
.main-sidebar .nav .nav-item:hover i {
  color: $theme-color;

}
.main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item .nav-link:hover, .main-sidebar .nav .nav-item.active, .main-sidebar .nav .nav-item:hover{
  color: $theme-color;
}
.main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item .nav-link:hover, .main-sidebar .nav .nav-item.active, .main-sidebar .nav .nav-item:hover{
  box-shadow: inset 0.1875rem 0 0 $theme-color;
}
.main-sidebar .nav .nav-item.active,
.main-sidebar .nav .nav-item .nav-link:hover {
  box-shadow: inset 0.1875rem 0 0 $theme-color;
  background: #F3F6F8;

  .nav-link {
    color: $theme-color;

  }
}

.main-sidebar .nav .nav-item .nav-link {
  font-weight: 500;
}

.main-sidebar .nav .nav-item,
.main-sidebar .nav .nav-link {
  font-size: 15px;

}

.main-sidebar .dropdown-menu .dropdown-item {
  padding-left: 50px;
  font-size: 14px;
}

.main-sidebar {
  z-index: 20;
}

.sticky-top {
  z-index: 21;
  position: initial;
}

.page-item{
  
  border-radius:0;
  box-shadow: none;
  &.pu-bg-gray-100{
    background: $theme-color;
    color: #fff;
    a{
      color: #fff;
    }
  }
  &.page-link{
      margin: 0 2px;
      border-radius:0.5rem;
      a{
        &:hover{
          color: $white;
        }
      }
    &:hover, &:focus{
      background-color: $theme-color;
      border-color:$theme-color;
      a{
        color: $white !important;
      }
    }
  }
  .page-link{
    box-shadow: 0 0.76rem 1.52rem #12263f08;
    border-radius:0.5rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align:center;
  color: $base-color;
  &:hover, &:focus{
    background-color: $theme-color;
    border-color:$theme-color;
    color: $white;
  }

  }
  &.active{
    .page-link{
      background: $theme-color;
      color: $white;
    }
  }
}
.main-content>.main-content-container.container-fluid{
  @media(max-width:$screen-xs){
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
// end

.heading {
  font-size: 28px;
  margin: 15px 0;
}

.table-wrapper{
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    
  .table{
    font-size: 14px;
    border-bottom:1px solid #eee;
    width: 100%;
    thead th{
      background: #dedede;
      height: 46px;
      &:first-child{
        border-top-left-radius: 0.5rem;
      }
      &:last-child{
        border-top-right-radius: 0.5rem;
      }
    }
    td,th{
      padding: 0.5rem;
    }
    tbody td,th{
      vertical-align: middle;
    }
    
    .fa-times{
      color: $red;
    }
    .fa-check{
      color: $green;
    }
    .fa-sort-down:before {
      margin:20px;
    }
  }
}

.btn {
  min-width: 100px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 0.5rem;
  background: $theme-color;
  color: $white;
  font-weight: bold;

  &:hover {
    color: $white;
  }
}

.btn-del,
.btn-edit {
  min-width: inherit;
  width: 30px;
  line-height: 28px;
  margin-left: 10px;

  i {
    font-size: 10px;
  }
}

.btn-del {
  background: $red;
}

.btn-edit {
  background: $yl;
}

.btn-create {
  @include circle(30px);
  line-height: 26px;
  border: 1px solid $theme-color;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin-left: 15px;
  position: relative;
  top: -3px;
  cursor: pointer;

  i {
    color: $theme-color;
    font-size: 12px;
  }
}

.form-search {
  display: inline-block;
  margin-bottom: 10px;
}

.notifi {
  display: flex;
  align-items: center;
  background: #fff;
  transition: .3s ease;
  position: fixed;
  pointer-events: auto;
  overflow: hidden;
  padding: 8px;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #000;
  opacity: .9;
  background-position: 15px;
  background-repeat: no-repeat;
  z-index: 1000;

}

.notification:hover {
  box-shadow: 0 0 12px #fff;
  opacity: 1;
  cursor: pointer
}

.notification-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.notification-message {
  margin: 0;
  text-align: left;
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.notification-image {
  float: left;
  margin-right: 10px;
  text-align: center;

}

.notification-image i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.custom-toast {
  width: 230px;
  min-height: 56px;
  color: #fff;
}
.bg-footer{
  background: $white;
  color: $theme-color;
  margin-top: 30px;
}
.bottom-left {
  bottom: 12px;
  left: 12px;
  transition: transform .6s ease-in;
  animation: toast-in-left .7s;
}

.bg-success {
  background: linear-gradient(rgba(16, 185, 129, 1), rgba(5, 150, 105, 1) 81%);
}

.bg-error {
  background: #ef4444;
}

// question 

.box-quest{
  max-height: 663px;
  overflow-y: scroll;
  .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
.faq-item {
  
  .faq-heading {

      position: relative;

      @media(min-width: $screen-xs-max) {
          padding: 10px 30px 10px 40px;
      }

      padding: 12px 20px 12px 12px;
      border-bottom: 1px solid $border-color;
      background: $white;
      cursor: pointer;
      .icon-sub {
        &:before{
          content: '\f067';
        }
      }
      &:not(.active) {}

      &.active {

        background: $black;
        border-radius: 0.5rem;
          .txt {
              color: $white;
              font-weight: bold;
          }


          .icon-sub {
              color: $white;

              &:before {
                  content: '\f068';
              }
          }
          .number_faq{
            color: $white;
            opacity:1;
          }
      }



      [class*="icon"] {
          color: $body-color;
      }

      .number_faq {
          font-weight: 500;
          font-size: 18px;
          color: #664dc9;
          opacity:0.5;
          display: block;
          position: absolute;
          left: 15px;
          top: 8px;

          @media(max-width: $screen-xs-max) {
              display: none;
          }
      }

      .txt {
          font-weight: 500;

          
          font-size: 16px;
          display: inline-block;

      }

      .icon-sub {
          font-size: 13px;
          position: absolute;

          right: 22px;
          top: 16px;

          @media(max-width: $screen-xs-max) {
              right: 6px;
              top: 8px;
          }
      }
  }

  .box-content {
      padding: 10px 40px;

      font-size: 14px;

      max-height: 264px;
      background: #fff;
      

      position: relative;
      border-bottom: 1px solid $border-color;
      overflow: hidden;
      @media(max-width:$screen-xs-max) {
          padding: 15px 15px 15px 0;
      }
      .btn-viewmore{
        @include center;
      }
      &.active{
        max-height: inherit;
      }
      &:not(.active){
        &:before{
          content: '';
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          height: 80%;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(#FBFBFB));
          background: linear-gradient(rgba(255, 0, 0, 0), #FBFBFB);
        }
      }
  }
}

  .box-content::-webkit-scrollbar {
    width: 3px;
  background-color: #181818;
  }
  .box-content::-webkit-scrollbar-thumb {
    background-color: #ddd;

  }


  .box-quest::-webkit-scrollbar {
    width: 3px;
  background-color: #181818;
  }
  .box-quest::-webkit-scrollbar-thumb {
    background-color: #ddd;

  }
.collapse {
  display: none;

  &.in {
      display: block;
  }
}



@keyframes toast-in-left {
  from {
    transform: translateX(-100%);

  }

  to {
    transform: translateX(0);
  }
}

.form-upload {
  display: flex;
}

.loading{
  position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:20;
}
.spinning-loader {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #e5edfc;
  border-left-color: $theme-color;
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
  margin: 1rem auto;
}
@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-top{
  align-items: center;
  @media(max-width:900px){

    display: flex !important;
    .ml-auto{
      text-align: left !important;
      margin-right: inherit;
      margin-top: 10px;
      display: flex !important;
    }
  }
  .ml-auto{
    margin-top: 10px;
  }
  @media(max-width:$screen-xs-max){
    display: block !important;
  }
}

.form-search{
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  @media(max-width:900px){
    width: 100%;
  }
  .clear-search{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
  }
  @media(max-width:767px){
    width: 100%;
  }
  .form-control{
    padding-right: 30px;
    @media(min-width:901px){
      width: 300px;
    }
    width: 100%;
  }
}

/* all status */
.bg-success2 {
  color: #34c38f;
    background-color: rgba(52,195,143,.18);
}
.bg-failed {
  color: #f46a6a;
    background-color: rgba(244,106,106,.18);
}
.bg-pending{
  color: #f1b44c;
    background-color: rgba(241,180,76,.18);
}
.bg-c-red{
  background: linear-gradient(45deg,#FF5370,#ff869a);
  color: $white;
}
.bg-low{
  background: #e7e7e7;
}
.bg-cancel{
  background: $black;
  color: $white;
}
.text-status{
  padding: 3px 5px;
  border-radius:0.3rem;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  &.bg-rs{
    font-size: 14px;
    font-weight: initial;
    padding: 0;
  }
}
.ticket-truncate{
  height: 42px;
  @include text-clamp(2)
}


// ticket notify
@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}
.notify-ticket{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align:center;
  border-radius: 8px;
  box-shadow: 0 0 3px rgb(0 0 0 / 10%), 0 4px 20px rgb(0 0 0 / 15%);
  right: 1rem;
  bottom: 60px;
  transform: scale(.95);
  transform-origin: bottom right;
  z-index: 1000;
  position: fixed;
  background-color: #eee;
  overflow: hidden;
  z-index:100;
  cursor: pointer;
  .icon{
    position: relative;
    .fa{
      animation: ring 4s .7s ease-in-out infinite;
      font-size: 16px;
    }
    .count{
      position: absolute;
      top: 2px;
      right: 2px;
      font-size: 10px;
      background: #ff5370;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      line-height: 15px;
      color: #fff;
      font-weight: bold;
    }
  }

}

.pu-notify-ticket{
  padding: 0 10px 10px 10px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgb(0 0 0 / 10%), 0 4px 20px rgb(0 0 0 / 15%);
  position: fixed;
  right: -300px;
  bottom: 120px;
  transform: scale(.95);
  transform-origin: bottom right;
  z-index: 1000;
  max-width: 295px;
  background-color: #fff;
  overflow: hidden;
  opacity:0;
  @include transition2;
  z-index:100;
  &.active{
    right: 1rem;
    overflow: visible;
  opacity:1;
  }
  .btn{
    margin-right: 10px;
  }
}

.required{
  color: $red;
}

.box-search{
  @media(min-width:$screen-xs-max){
    min-width: 390px;
  }
  background: #fff;
  box-shadow: 0px 0px 20px -5px rgb(41 41 41 / 25%);
  border-radius:5px;
  position: absolute;
  right: 0;
  top:45px;
  padding:15px;
  display: none;
  z-index:10;
  text-align:left;
  &.active{
    -webkit-animation-duration: 0.3s; 
    animation-duration: 0.3s; 
    webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    display: block;
  }
  .form-input-box{
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  .label-name{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
  .box-date{
    display: flex;
    .react-datepicker-wrapper:first-child{
      margin-right: 10px;
    }
  }
  .form-control{
    width: 100%;
    border:1px solid #eee;
    height: 36px;
    border-radius:3px;
    padding:0 10px;
    font-size: 14px;
    box-shadow: none;
    &:focus{
      outline:none !important;
      outline-offset:none !important;
    }
  }
  input{
    width: 100%;
    border:1px solid #eee;
    height: 36px;
    border-radius:3px;
    padding:0 10px;
    font-size: 14px;
    &:focus{
      outline:none !important;
      outline-offset:none !important;
    }
  }
  .react-datepicker-wrapper, .react-datepicker__input-container{
    width: 100%;
  }
}

//dots pulse

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $theme-color;
  color: $theme-color;
  box-shadow: 9999px 0 0 -5px $theme-color;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $theme-color;
  color: $theme-color;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $theme-color;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $theme-color;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $theme-color;
  }
  30% {
    box-shadow: 9984px 0 0 2px $theme-color;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $theme-color;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $theme-color;
  }
  30% {
    box-shadow: 9999px 0 0 2px $theme-color;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $theme-color;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $theme-color;
  }
  30% {
    box-shadow: 10014px 0 0 2px $theme-color;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $theme-color;
  }
}